<!DOCTYPE html>
<html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="../static/abtus.css">
</head>
<body>
  <div class="nav-links">
    <div class="logo">
        <H1><i><b>Sparks</b></i></H1>
    </div>
    <div class="component-list">
      <div class="component"><a href="">  JOIN </a></div >
      <div class="component"><a href="">  HOST </a></div >
      <div class="component"><a href="login2.html">  LOG IN / REGISTER</a></div >
      <div class="component"><a href="">  ABOUT US</a></div >
      </div>
</div>
    <div class="logo">
     <a href="main.html"   ><H1><i><b>Sparks</b></i></H1></a>
    </div>  
    <div class ="name">
        <h1>About Us</h1>
    </div>
  
  <div class="container">
    <div class="person">
      <img src="person1.jpg" alt="Person 1">

      <h3>Aayush Kumar</h3>
      <p>Design, Frontend & API</p>
      <p><b>21bcs001</b></p>
      <p><i>Leader</i></p>
    </div>
    <div class="person">
      <img src="person2.jpg" alt="Person 2">
      <h3>Abhishikt Mahajan</h3>
      <p><b>21bcs060</b></p>
      <p>Design and Frontend</p>
    </div>
    <div class="person">
      <img src="person3.jpg" alt="Person 3">
      <h3>Deepak Godara</h3>
      <p><b>21bcs040</b></p>
      <p>Frontend</p>
    </div>
    <div class="person">
      <img src="person4.jpg" alt="Person 4">
      <h3>Anurag Bisen</h3>
      <p><b>21bcs013</b></p>
      <p>Backend</p>
    </div>
    <div class="person">
      <img src="person5.jpg" alt="Person 5">
      <h3>Ashish Higgins</h3>
      <p><b>21bcs014</b></p>
      <p>Backend</p>
    </div>
    
  </div>
  <div class="social-media">
    <h3>Follow us on</h3>
    <ul>
      <li><a href="https://github.com/Aayush-Kr-13/CS301-Virtual-Event-Platform" target="_blank"><img src="git.png" sizes="10"></a></li>
    </ul>
  </div>
</body>
</html>
