<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-forget">
        <div class="forget-div">
            <div class="forget-description">Change Your Password</div>
            <form class="forget-form">
                <div class="Enter-Email">
                    <input type="email" placeholder="Enter email" name="Email">
                    <input type="text" placeholder="New Password" name="New-Password">
                    <input type="text" placeholder="Confirm Password" name="Confirm-Password">
                                </div>
            </form>
        </div>
    </div>
</body>
</html>